<div id="<%= dom_id todo %>" xmlns="http://www.w3.org/1999/html">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <span class="<%= todo.completed == 1 ? 'text-green-700' : 'text-red-700' %>">
    <%= todo.completed == 1 ? "Completed" : "Not Completed" %>
    </span>
  </p>

</div>
