<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed === 1 ? "Completed" : "Not Completed" %>
  </p>

</div>
