<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<header class="w-full flex justify-between mb-8">
  <h1 class="text-4xl font-bold">Todos</h1>
  <%= link_to new_todo_path,
              class: "flex items-center gap-1 text-blue-500 hover:text-blue-600 hover:underline hover:underline-offset-2 transition-all" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 448 512" fill="currentColor" title="Add todo">
      <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
    </svg>
    New Todo
  <% end %>
</header>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
</div>
